<style type="text/css">
  .tblborder{
    border-color: #367fa9;
    border-style: solid;
    border-width: 1px;;
  }
  .cp{
    cursor: pointer;
  }
</style>

<section class="content-header">
  <h1>
   {{PageHeader}}
  </h1>
</section>

<div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                <input type="button" ng-click="addnew()" class="btn btn-primary" value="Add New" />


                  <div class="box-tools">
                    <div class="input-group" style="width: 150px;">
                      <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
                      <div class="input-group-btn">
                        <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
                      </div>
                    </div>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                  <table class="table tblborder">
                    <tr class="bg-primary">
                      <th>Title</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>ProjectType</th>
                    </tr>
                    <tr class="tblborder cp" ng-repeat="p in ProjecTable.Rows" ng-click="Showdetail(p._id)">
                      <td>{{p.ProjectName}}</td>
                      <td>{{p.StartDate | date:'MMM d, y'}}</td>
                      <td>{{p.EndDate | date:'MMM d y'}}</td>
                      <td>{{p.ProjectType}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              </div>
              </div>
<div class="row">
  <div class="col-lg-5">
    <span> Total {{ProjecTable.TotalRows}} are found</span>
  </div>

</div>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>

      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
