<section class="content-header">
    <h1>
        {{PageHeader}}
    </h1>
</section>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        First Name
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        {{users.Firstname}}
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>